<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0"> 
<!--   <servlet> -->
<!--     <servlet-name>ConnectionListener</servlet-name> -->
<!--     <servlet-class>sas_systems.unveiled.server.ConnectionListener</servlet-class> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>ConnectionListener</servlet-name> -->
<!--     <url-pattern>/ConnectionSetup</url-pattern> -->
<!--   </servlet-mapping> -->
  
  <servlet>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>sas_systems.unveiled.server.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
</web-app>